<h1 class="title">{{title}}</h1>
<form action="login" method="post" class="box">
	<label for="email" class="label">Email</label>
	<input type="email" placeholder="Email@domain.ca" spellcheck="true" class="input" autofocus required id="email" name="email" autocomplete="email" />
	<label for="password" class="label">Password</label>
	<input
		type="password"
		placeholder="Password"
		spellcheck="true"
		class="input"
		required
		id="password"
		name="password"
		autocomplete="current-password"
	/>
	<button type="submit" class="button is-primary level-left" id="submitButton">Login</button>
	<fieldset class="block mt-5">
		<legend class="level-item level-right subtitle">3<sup>rd</sup> party login providers</legend>
		<section class="">
			<a href="/auth/google" title="Sign in with Google"><i class="icon fa-brands fa-google is-large"></i></a>
			<a href="/auth/github" title="Sign in with Github"><i class="icon fa-brands fa-github-alt is-large"></i></a>
		</section>
	</fieldset>


</form>